{{ template "page" . }}

{{ define "title" }} OPG Sirius Firm Deputy Hub {{ end }}

{{ define "main" }}

{{/* TODO added to pass pa11y test- will be removed in later ticket */}}
<h1 class="govuk-heading-l">Supervision Firm Deputy Hub</h1>

{{ end }}