{{ template "page" . }}

{{ define "title" }}OPG Sirius Firm Deputy Hub{{ end }}

{{ define "main" }}

    {{ template "firm-details" . }}

    {{ template "error-summary" .Errors }}


    <div class="govuk-grid-row govuk-!-margin-top-5  govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-full">
    
                      
         <h1> Kates template </h1>
      </div>
      </div>
   
{{ end }}