// Sirius specific styles

.sirius-firmhub {
  .govuk-width-container,
  .moj-header__container,
  .moj-primary-navigation__container {
    max-width: none;
    padding: 0 15px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0.5em;
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 2em;
  }

  #overview {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #b1b4b6;
  }

  .moj-sub-navigation {
    margin-bottom: 0px;
  }

  #manage-firm-title {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 1em !important;
    padding: 1em 0 0.5em;
  }

  #manage-firm-details-submit-btn {
      border-top: 1px solid #b1b4b6;
      padding-top: 1em;
  }
}
