@use "node_modules/accessible-autocomplete/src/autocomplete";
@use "node_modules/opg-sirius-header/sass/main";
@use "./scss/firm-hub";

.moj-header__container {
  max-width: 98%;
}

#request-pii-btn {
  margin-left: 1em;
}

#footer-background {
  background: #f4f8fb;
}

