name: Generate Scan Report

on:
  schedule:
    # Every Friday at 16:30 UTC
    - cron: "30 16 * * 5"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ministryofjustice/opg-repository-scanner@71b6f17bc23c826d4755624072bd289317368da7 # v2.0.18
